// custom variables
$primary: #F9A47D;
$secondary: #FEFBF6;
$light: #FAE6C7;
$dark: #1F283A;
$warning: #2383BE;
$danger: blue;

// import bootstrap
@import '../node_modules/bootstrap/scss/bootstrap';
